
.properties-item {
  min-height: 33px;
  width: 100%;
  border-radius: 12px;
  background: #e8ecf1;
  box-shadow: inset 2px -2px #fff, inset 0 2px #fff;
}

.icon-arrow-down-gray {
  font-size: 15px;
  background: #6b7d8e;
}

.icon-star {
  font-size: 16px;
  background: #bdc9d6;
}

.linesGroup_sideWrapper {
  padding: 10px;
  gap: 10px;
  transition: .3s;
  cursor: pointer;
}

.auto_center_line_title {
  transition: .3s;
  padding: 5px;

  &:hover {
    background: #fff;
    border-radius: 10px;
    max-width: max-content;

  }
}


.linesGroup_title {
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-weight: 600;
  padding: 5px;

}
.center_live_body{
  background: #ffffff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 100%;
  padding: 14px;
  gap: 30px;
  position: relative;
}
.center_line_body {
  background: #ffffff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 100%;
  padding: 14px;
  gap: 30px;
  position: relative;
}

.center_live_body::before {
  content: "LIVE";
  background-color:#72c132;
  padding: 1px 5px;
  font-weight: 600;
  text-align: center;
  font-size: 10px;
  line-height: 1;
  position: absolute;
  left: -15px;
  top: 50%;
  transform: translateY(-50%) rotate(-90deg);
  color: #ffffff;
}
.defaultLine_cell-numbers{
  gap: 25px;
}
.match-live-wrap{


  p{
    color: #9ea7b2;
    font-size: 11px;
    text-align: center;
  }
  span{
     color: #72c132;
    font-size: 11px;
    text-align: center;
    display: block;
  }
}
.defaultLine_cell {
  padding: 10px;

}

.defaultLine_cell-wrapper {
  gap: 30px;
}

.defaultLine_lineLinks {
  gap: 30px;
  width: 100%;
  border-bottom: 1px solid #e8ecf1;
  position: relative;

  &:last-child{
    border-bottom: 0;
  }

}

.top-line-links::before {
  content: "TOP";
  background-color: #fa4d00;
  padding: 1px 5px;
  font-weight: 600;
  text-align: center;
  font-size: 10px;
  line-height: 1;
  position: absolute;
  left: -25px;
  top: 50%;
  transform: translateY(-50%) rotate(-90deg);
  color: #ffffff;
}

.auto_center_match_time {
  color: #9ea7b2;
  font-size: 11px;
  text-align: center;
}

.auto_center_match_date {
  color: #9ea7b2;
  font-size: 11px;
  text-align: center;
}

.auto_center_line_team {
  padding: 2px;
  border-radius: 10px;
  max-width: max-content;

  &:hover {
    background: #fff;

  }

  p {
    color: #000000;
    font-size: 14px;
    font-weight: 600;
  }
}

.outcomeItem_odd-blue {
  color: rgb(9, 75, 149);
  font-size: 13px;
  font-weight: 600;
}
.number_odd{
  color: #72c132;
  font-size: 14px;
  display: block;
}

.outcomeItem_odd-black {
  color: #000000;
  font-size: 13px;
  font-weight: 600;
}

.linesGroup_score {
  color: #6b7d8e;
  font-size: 13px;
  font-weight: 600;
  padding: 10px;
  gap: 30px;

}
.defaultLine_line-cnt{
  width: 100%;
}
.center_line_header {
  justify-content: space-between;
  gap: 20px;
}

.center_line_cnt {
  margin-left: auto;
  gap: 31px;
}
.center_line-live_cnt{
  gap: 28px;
  margin-left: auto;

}